.swiper-container{
    padding: 20px !important;
    background-color: pink !important;
}
.swiper-scrollbar {
  display: block !important;
  height: 8px !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* bottom: -52px !important; */
  z-index: 90 !important;
  background-color: #F0F1F3;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #DADDE2;
  width: 200px !important;
}
